<div class = "row">


    <div class="col-sm-7">
<form [formGroup] = "contactForm" >

    <div class="form-group">
        <label >Firstname</label>
        <input class="form-control" formControlName = "firstname">
        <div class="text-danger" *ngIf="contactForm.controls['firstname'].invalid && contactForm.controls['firstname'].dirty">
            <small *ngIf="contactForm.controls['firstname'].errors.required"> Firstname is mandatory</small>
            <small *ngIf="contactForm.controls['firstname'].errors.minlength"> Minimum 3 letter required</small>
        </div>
    </div>
    <div class="form-group">
        <label >Lastname</label>
        <input class="form-control" formControlName = "lastname">
    </div>
    <div class="form-group">
        <label >Date of Birth (YYYY-MM-DD)</label>
        <input class="form-control" formControlName = "dob">
    </div>
    <div class="form-group">
        <label >Email</label>
        <input class="form-control" formControlName = "email">
        <div class="text-danger" *ngIf="contactForm.controls['email'].invalid && contactForm.controls['email'].dirty">
            <small *ngIf="contactForm.controls['email'].errors.required"> Email is mandatory</small>
            <small *ngIf="contactForm.controls['email'].errors.email"> Not a valid email address</small>
        </div>
    </div>
    <div class="form-group">
        <label >Gender</label>
        <label ><input type="radio" name="gender" value="Male" formControlName = "gender">Male</label>
        <label ><input type="radio" name="gender" value="Female" formControlName = "gender">Female</label>
    </div>
    <div class="form-group">
        <label >Phone</label>
        <input class="form-control" formControlName = "phone">
        <div class="text-danger" *ngIf="contactForm.controls['phone'].invalid && contactForm.controls['phone'].dirty">
            <small *ngIf="contactForm.controls['phone'].errors.required"> Phone is mandatory</small>
            <small *ngIf="contactForm.controls['phone'].errors.pattern"> 10-12 digits are allowed</small>
        </div>
        
    </div>
    <div class="form-group">
        <label >City</label>
        <input class="form-control" formControlName = "city">
    </div>
    <div class="form-group">
        <label >State</label>
        <input class="form-control" formControlName = "state">
    </div>
    <div class="form-group">
        <label >Country</label>
        <input class="form-control" formControlName = "country">
    </div>
    <div class="form-group">
        <label >Picture (URL)</label>
        <input class="form-control" formControlName = "picture">
    </div>

    <button class="btn btn-{{contactForm.invalid ? 'danger' : 'primary'}}" [disabled]="contactForm.invalid" (click)="saveChanges()">Save Changes</button>

    <!-- {{contactForm.value | json}} -->

</form>

</div>

<div class="col-sm-5">

</div>

</div>
