<h3>Add a new Contact</h3>
<hr>
<div class="row">


<form class="form col-sm-7" #form = "ngForm">

    <div class="form-group">
        <label for="firstname">Firstname</label>
        <input type="text" class="form-control" id="firstname" #firstname="ngModel" name="firstname" 
        [(ngModel)] = "contact.firstname" required minlength="3" maxlength="20">
        <div class="text-danger" *ngIf="firstname.dirty && firstname.errors">
            <small *ngIf="firstname.errors.required"> Firstname is mandatory</small>
            <small *ngIf="firstname.errors.minlength"> Minimum 3 letter required</small>
        </div>
    </div>
    <div class="form-group">
        <label for="lastname">Lastname</label>
        <input type="text" class="form-control" id="lastname" #lastname="ngModel" name="lastname" [(ngModel)] = "contact.lastname">
    </div>
    <div class="form-group">
        <label>Gender</label>
        <label ><input type="radio" name="gender" value="Male" [(ngModel)] = "contact.gender">Male</label>
        <label ><input type="radio" name="gender" value="Female" [(ngModel)] = "contact.gender">Female</label>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" 
        #email="ngModel" name="email" required [(ngModel)] = "contact.email">
        <div class="text-danger" *ngIf="email.dirty && email.errors">
            <small *ngIf="email.errors.required"> Email is mandatory</small>
        </div>
    </div>
    <div class="form-group">
        <label for="dob">Date of Birth (YYYY-MM-DD)</label>
        <input type="text" class="form-control" id="dob" #dob="ngModel" name="dob" [(ngModel)] = "contact.dob">
    </div>
    <div class="form-group">
        <label for="phone">Phone</label>
        <input type="text" class="form-control" id="phone" required pattern="\d{10,12}"
        #phone="ngModel" name="phone" [(ngModel)] = "contact.phone">
        <div class="text-danger" *ngIf="phone.dirty && phone.errors">
            <small *ngIf="phone.errors.required"> Phone is mandatory</small>
            <small *ngIf="phone.errors.pattern"> 10-12 digits are allowed</small>
        </div>
    </div>
    <div class="form-group">
        <label for="city">City</label>
        <input type="text" class="form-control" id="city" #city="ngModel" name="city" [(ngModel)] = "contact.city">
    </div>
    <div class="form-group">
        <label for="state">State</label>
        <input type="text" class="form-control" id="state" #state="ngModel" name="state" [(ngModel)] = "contact.state">
    </div>
    <div class="form-group">
        <label for="country">Country</label>
        <input type="text" class="form-control" id="country" #country="ngModel" name="country" [(ngModel)] = "contact.country">
    </div>
    <div class="form-group">
        <label for="picture">Picture(URL)</label>
        <input type="text" class="form-control" id="picture" #picture="ngModel" name="picture" [(ngModel)] = "contact.picture">
    </div>

    <button [disabled]="form.invalid" class="btn btn-{{form.invalid ? 'danger':'primary'}}"(click)="addContact()">Add</button>


</form>

<div class="col-sm-5">

</div>

</div>